.site-main {
    position: relative;
    overflow: hidden; 
    margin: 0 auto;
    @media only screen and (min-width: 780px){
        width: calc( 100% - 100px );
    }
}

.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65vh;
    z-index: 0;
    margin-top: 75px;

    @media only screen and (min-width: 780px){
        height: calc( 100vh - 540px);
        margin-top: 0;
    }
    @media only screen and (min-width: 820px) {
        height: calc( 100vh - 180px);
    }
}

.gradient-banner {
    width: 100%;
    height: 65vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../img/gradient-header.png) 0 0 repeat-x;
    opacity: 1;
    display: block;
    z-index: 999;
    @media only screen and (min-width: 780px){
        height: calc( 100vh - 540px);
    }
    @media only screen and (min-width: 820px) {
        height: calc( 100vh - 180px);
    }
}

figure.slider { 
    position: relative; 
    width: 500%;
    font-size: 0; 
    height: calc( 100vh - 180px);
    animation: 30s slidy infinite; 
    figure { 
        width: 20%; 
        height: auto;
        display: inline-block;  
        position: inherit; 
    }
    img { 
        position: absolute;
        top: 0;
        width: 100%; 
        height: auto;
        min-height: calc(100vh - 180px);
    }
}

.two-column {
    width: 100%;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: hidden;
}

.column {
    display: inline-block;
    position: relative;
    height: 180px;
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    overflow: hidden;
     h2 {
        color: #fff;
        z-index: 1;
        position: relative;
        font-size: 1.8em;
        top: 50%;
        transform: translateY(-50%);
    }
    .bg-image {
        height: 100%;
        transition: all .5s ease-in-out;
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(100%); /* FF 35+ */
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all .5s;
    }
    &:hover .bg-image {
        transform: scale(1.05);
        -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(0%); /* FF 35+ */
    }
    &:hover .overlay {
        background-color: rgba(0, 0, 0, 0.2);
    }
    @media only screen and (min-width: 820px) {
         max-width: 50%;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; 
    }
}

.armor {
    background: url(../img/cta-armor.jpg) center center no-repeat;
    background-size: cover;
}
.rack {
    background: url(../img/cta-racks.jpg) center center no-repeat;
    background-size: cover;
}

.access {
    background: url(../img/cta-access.jpg) center center no-repeat;
    background-size: cover;
}

.wheels {
    background: url(../img/cta-wheels.jpg) center center no-repeat;
    background-size: cover;
}

.lighting {
    background: url(../img/cta-lighting.jpg) center center no-repeat;
    background-size: cover;
}

.steering {
    background: url(../img/cta-steering.jpg) center center no-repeat;
    background-size: cover;
}

a.scroll-btn {
    display: none;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -32px;
    z-index: 99999;
    font-size: 64px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    @media only screen and (min-width: 820px) {
        display: block;
    }
}

.intro {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 50px 0 ;
    h2 {
        font-size: 1.5em;
        text-align: center;
    }
    p {
        padding: 30px;
        font-size: 16px;
    }
}

.usa-made {
    display: block;
    text-align: center;
    img {
        display: block;
        clear: both;
        margin: 0 auto;
    }
}